{% extends 'base.html' %}
{% load static %}

{% block content %}
   <!-- Content Header (Page header) -->
   <section class="content-header">
     <div class="container-fluid">
       <div class="row mb-2">
         <div class="col-sm-6">
           <h1>Manage Students</h1>
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
             <li class="breadcrumb-item active">manage students</li>
           </ol>
         </div>
       </div>
     </div><!-- /.container-fluid -->
   </section>

   <!-- Main content -->
   <section class="content">
     <div class="row">
       <div class="col-12">
         <div class="card">
           <div class="card-header">
             <h3 class="card-title">All Students</h3>
           </div>
           <!-- /.card-header -->
           <div class="card-body">
             <table id="example2" class="table table-bordered table-hover">
               <thead>
               <tr>
                  <th>#ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email Address</th>
                  <th>Phone Number</th>
                  <th>Address</th>
                  <th>Gender</th>
                  <th>Date Joined</th>
                  <th>D.O.B</th>
                  <th>Action</th>
               </tr>
               </thead>
               <tbody>
               {% for student in students %}
               <tr>
                 <td>{{student.id}}</td>
                 <td>{{student.first_name}}</td>
                 <td>{{student.last_name}}</td>
                 <td>{{student.email}}</td>
                 <td>{{student.phone_number}}</td>
                 <td>{{student.address}}</td>
                 <td>{{student.gender}}</td>
                 <td>{{student.date_created}}</td>
                 <td>{{student.date_of_birth}}</td>
                 <td><a href="{% url 'helpers:student_profile' %}"><i class="fa fa-edit"></i> Edit</a></td>
               </tr>
               {% endfor %}
               </tbody>
               <tfoot>
               <tr>
                  <th>#ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email Address</th>
                  <th>Phone Number</th>
                  <th>Address</th>
                  <th>Gender</th>
                  <th>Date Joined</th>
                  <th>D.O.B</th>
                  <th>Action</th>
               </tr>
               </tfoot>
             </table>
           </div>
           <!-- /.card-body -->
         </div>
         <!-- /.card -->
       </div>
       <!-- /.col -->
     </div>
     <!-- /.row -->
   </section>
   <!-- /.content -->

{% endblock content %}