{% extends 'base.html' %}
{% load static %}

{% block content %}
   <!-- Content Header (Page header) -->
   <section class="content-header">
     <div class="container-fluid">
       <div class="row mb-2">
         <div class="col-sm-6">
           <h1>Manage Courses</h1>
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
             <li class="breadcrumb-item active">manage courses</li>
           </ol>
         </div>
       </div>
     </div><!-- /.container-fluid -->
   </section>

   <!-- Main content -->
   <section class="content">
     <div class="row">
       <div class="col-12">
         <div class="card">
           <div class="card-header">
             <h3 class="card-title">All Courses</h3>
           </div>
           <!-- /.card-header -->
           <div class="card-body">
             <table id="example2" class="table table-bordered table-hover">
               <thead>
               <tr>
                  <th>#ID</th>
                  <th>Name</th>
                  <th>Date Created</th>
                  <th>Action</th>
               </tr>
               </thead>
               <tbody>
               {% for course in courses %}
               <tr>
                 <td>{{course.id}}</td>
                 <td>{{course.name}}</td>
                 <td>{{course.created_at}}</td>
                 <td><a href="#"><i class="fa fa-edit"></i> Edit</a></td>
               </tr>
               {% endfor %}
               </tbody>
               <tfoot>
               <tr>
                <th>#ID</th>
                <th>Name</th>
                <th>Date Created</th>
                <th>Action</th>
               </tr>
               </tfoot>
             </table>
           </div>
           <!-- /.card-body -->
         </div>
         <!-- /.card -->
       </div>
       <!-- /.col -->
     </div>
     <!-- /.row -->
   </section>
   <!-- /.content -->

{% endblock content %}